*{
    box-sizing: border-box;
}

#container{
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer"
    ;
    grid-template-columns: 1fr 3fr;
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

nav{
    grid-area: nav;
}

footer{
    grid-area: footer;
}