*{
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
}

@media screen and (max-width: 500px){
    body{
        background-color: rgb(201, 148, 251);
    }
}

@media screen and (max-width: 400px){
    body{
        background-color: rgb(244, 137, 226);
    }
}